.filter-button {
  border: 2px solid black !important;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
}

.filter-button:focus {
  outline: none !important;
}

.filter-button__inactive {
  opacity: 0.5;
}

.filter-button__active {
  opacity: 1;
}