.filter-switch__wrapper {
  height: 40px;
}

.filter-switch:first-of-type {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.filter-switch:last-of-type {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.filter-switch {
  border: 2px solid black;
  background: white;
  font-size: 20px;
}

.filter-switch:focus {
  outline: none;
}

.filter-switch {
  opacity: 0.5;
}

.filter-switch__active {
  opacity: 1;
}